@tailwind base;
@tailwind components;
@tailwind utilities;


  
  
  body {
    /* background-color: hsl(0, 0%, 0%); */
    color: white;
  }
  
  .font-roobert {
    font-family: 'Roobert', serif !important;
  }
  
  .font-assistant {
    font-family: 'Assistant', serif !important;
  }
  
  a {
    cursor: pointer;
  }
  
  .slick-slide div {
    height: 100%;
  }
  
  .slick-dots li button:before {
    margin-top: 30px;
    font-size: 21px !important;
    color: #5B27F7 !important;
  }
  